#jumbotron {
    background-color: #17a3b8;
    box-shadow: 0 0 15px #00000075;
}

#passwordBox {
    height: 200px;
    overflow-wrap: normal;
}

#box {
    max-width: 500px;
    box-shadow: 0 0 10px #00000040;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h4 {
    color: #17a3b8;
    font-family: 'Montserrat', sans-serif;
}